@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: grey;
  font-weight: bolder;
}

#root {
  font-family: "Quicksand", sans-serif;
  background-color: grey;
}

.article-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-weight: "bolder";
}

.sub-header-text {
  text-align: center;
  padding-bottom: 1rem;
}

#header {
  align-items: center;
  justify-content: center;
}

.nav-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

ul {
  list-style-type: none;
}